input[type~="text"], input[type~="password"], input[type~="date"], input[type~="number"], input[type~="select"]{
    font-size: 1.2vw;
    color: rgb(95, 95, 95);
}

button i {
    font-size: 1.2vw;
}

.dbList{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 3vw;
}