.info-page{
    margin-top: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 4vw;

    .col-12{
        padding-right: .5vw;
    }

    .col-8{
        padding-left: .5vw;
    }

    a{
        color: rgb(161, 186, 255);
    }

    .date{
        display: flex;
        align-items: center;
    }
}

img{
    display: block;
    max-width: 100%;

    &.personal-photo{
        width: 100%;
        padding: .5vw;
        border: 1vw solid $color_4;
    }
}

.block-info{
    margin-top: 1vw;
    background-color: $color_4;
    padding: 1vw;

    ul{
        padding-left: 1vw;
        list-style: none;
    }
}

.personal-info{
    background-color: $color_4;
    padding: 1vw;
}

.photo-block{
    img {
        border: .5vw solid $background;
        max-height: 1200px;
    }
}

.video-block{

    .content{
        overflow:hidden;
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
    }

    iframe{
        border: .5vw solid $background;
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
    }
}