.page{
    margin-top: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 4vw;

    .col-12{
        padding-right: .5vw;
    }

    .col-8{
        padding-left: .5vw;
    }

    a{
        color: rgb(161, 186, 255);
    }

    .date{
        display: flex;
        align-items: center;
    }

    .pageBtn{
        font-size: 1.2vw;
        padding: .5vh .9vw;
        color: white;
        background: $color_2;
        border: none;
        border-radius: .1vw;
        outline: none;
        //box-shadow: 0px 0px .5vw rgba(27, 37, 61, 0.3);
        border: .1vw solid $color_4;
        transition: .1s;
        width: 100%;
        text-align: left;
    
        &:active{
            box-shadow: inset 0px 0px 13px 5px $color_3;
        }
    }
}