#photoArhiveCarousel{
    background-color: $background;
    padding: .5vw;
    cursor: pointer;

    .item{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            max-height: calc(100vh - 16.4vw);
            display: block;
            object-fit: contain;
        }
    }
}