.time-line-year, .time-line-month, .select-date{
    font-size: 1.5vw;
    background-color: $color_4;
    padding: .1vw, .1vw;
    border: solid .1vw $color_4;
    transition: .15s ease all;

    &.active{
        background-color: $color_2;
    }
}

/*.select-date{
    box-shadow: 0px 0px .5vw rgba(27, 37, 61, 0.5);
}*/

.date-page{
    padding-top: 4vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 4vw;

    overflow: hidden;

    .col-4:nth-of-type(2){
        padding-right: .5vw;
        padding-left: .5vw;
    }

    .col-4:first-child{
        padding-right: .5vw;
    }

    .col-4:last-child{
        padding-left: .5vw;
    }
}

.month-container{
    position: relative;

    .disabled-select{
        z-index: 9999;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: $color_4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 

.list{ 
    margin-top: 1vw;
    height: 57.3vh;
    position: relative;
    white-space: nowrap;

    li{
        &:not(:first-child){
            margin-top: 1vh;
        }
        overflow: hidden;
        text-overflow: ellipsis;
    }

    input{
        font-size: 1.2vw;
        position: absolute;
        bottom: 2vh;
        left: 50%;
        transform: translateX(-50%);
        padding: .5vh .9vw;
        color: white;
        background: $color_2;
        border: none;
        border-radius: .1vw;
        outline: none;
        //box-shadow: 0px 0px .5vw rgba(27, 37, 61, 0.3);
        border: .1vw solid $color_4;
        transition: box-shadow .1s ease;

        &:active{
            box-shadow: inset 0px 0px 13px 5px $color_3;
        }
    }

    ul{
        list-style: none;
        padding-left: 0;
    }
}