body {
  background: #617baa;
  color: #fff;
  font-size: 1.2vw;
  overflow-x: hidden;
}

nav .pagination li {
  width: auto;
}

p {
  text-align: justify;
}

ul li {
  text-align: justify;
}

.left-info ul li {
  text-align: left;
}

table {
  table-layout: fixed;
}
table th {
  color: #fff;
  font-size: 1vw;
}
table th:nth-last-of-type(1) {
  padding-right: 0;
}
table th:first-of-type {
  padding-left: 0;
}
table td {
  color: #fff;
  font-size: 1.2vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination {
  justify-content: center;
}
.pagination a {
  color: #475b81;
}
.pagination a:hover {
  color: #475b81;
}
.pagination .active .page-link {
  background-color: #475b81;
  border-color: #475b81;
}

h1, .h1 {
  font-size: 2vw;
}

h3 {
  font-size: 1.4vw;
}

h2 {
  font-size: 1.4vw;
}

[fullscreen] {
  cursor: pointer;
}

.fa-whmcs {
  font-size: 3vw;
}

.helpWindow {
  position: relative;
}

.closeWindow {
  position: absolute;
  right: 1vw;
  top: 1vw;
  background-color: transparent;
  border: none;
  color: white;
}

.object-non-visible {
  opacity: 0 !important;
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.menuContainer {
  height: 100vh;
  position: relative;
}
.menuContainer .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menuContainer .menu .btn {
  width: 100%;
  height: 100%;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.1s ease;
  font-size: 1.5vw;
  background: #6986bd;
  color: #fff;
  border: 0.1vw solid #475b81;
}
.menuContainer .menu .btn:active {
  box-shadow: inset 0px 0px 13px 5px #475b81;
}
.menuContainer .menu .btn.min {
  font-size: 1.3vw;
}
.menuContainer .menu .col {
  box-sizing: content-box;
  height: 27.3vh;
  padding: 1vw;
  padding-left: 0;
}
.menuContainer .menu .row .col:first-child {
  padding-left: 1vw;
}
.menuContainer .menu .row-2 .col {
  padding-top: 0;
  padding-bottom: 0;
}

.pagination {
  padding-top: 0.5vw;
}

.close-modal {
  position: fixed;
  z-index: 9910;
  top: 1vw;
  right: 1vw;
  background-color: transparent;
  color: white;
  border: none;
  transition: 0.1s;
}
.close-modal i {
  font-size: 2vw;
}

.modal-btn-container > div {
  z-index: 9915;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
.modal-btn-container > div > div {
  display: inline-block;
  height: 23.3vh;
  width: 23.3vh;
  box-sizing: content-box;
  padding: 1vw;
  padding-left: 0;
}
.modal-btn-container > div > div:first-child {
  padding-left: 1vw;
}
.modal-btn-container > div .btn {
  width: 100%;
  height: 100%;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.1s ease;
  font-size: 1.5vw;
  background: #6986bd;
  color: #fff;
  border: 0.1vw solid #475b81;
}
.modal-btn-container > div .btn:active {
  box-shadow: inset 0px 0px 13px 5px #475b81;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  font-weight: 500;
  color: #fff;
  background-color: #475b81;
  font-size: 2vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  box-shadow: 0px 0px 0.5vw rgba(27, 37, 61, 0.3);
}
header a {
  display: block;
  color: #fff;
  text-decoration: none;
}
header a i {
  color: #fff;
}
header a > i {
  margin-left: 1vw;
  margin-right: 1vw;
}
header a:hover {
  color: #fff;
}

footer {
  z-index: 5;
  position: fixed;
  height: 3vw;
  bottom: 0;
  color: #fff;
  background-color: #475b81;
  width: 100%;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  box-shadow: 0px 0px 0.5vw rgba(27, 37, 61, 0.3);
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
}

input[type~=text], input[type~=password], input[type~=date], input[type~=number], input[type~=select] {
  font-size: 1.2vw;
  color: #5f5f5f;
}

button i {
  font-size: 1.2vw;
}

.dbList {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vw;
}
.dbList td {
  cursor: pointer;
}
.dbList th [disabled] {
  background: #566d99;
  border-color: #475b81;
  color: #fff;
}
.dbList th [disabled]::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
.dbList th [disabled]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
.dbList th [disabled]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
.dbList th [disabled]:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}

.info-page {
  margin-top: 4vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 4vw;
}
.info-page .col-4 {
  padding-right: 0.5vw;
}
.info-page .col-8 {
  padding-left: 0.5vw;
}
.info-page a {
  color: #a1baff;
}
.info-page .date {
  display: flex;
  align-items: center;
}

.main-photo {
  border: 1vw solid #566d99;
}

img {
  display: block;
  max-width: 100%;
}
img.personal-photo {
  width: 100%;
  border: 0.5vw solid #617baa;
}

.block-info {
  margin-top: 1vw;
  background-color: #566d99;
  padding: 1vw;
}

.employee ul {
  padding-left: 1vw;
  list-style: none;
}

.personal-info {
  background-color: #566d99;
  padding: 1vw;
}

.photo-block img {
  border: 0.5vw solid #617baa;
  max-height: 1200px;
}

.video-block .item {
  position: relative;
  border: 0.5vw solid #617baa;
  cursor: pointer;
}

.block {
  background-color: #566d99;
  padding: 1vw;
}

.time-line-year, .time-line-month, .select-date {
  font-size: 1.5vw;
  background-color: #566d99;
  padding: 0.1vw, 0.1vw;
  border: solid 0.1vw #566d99;
  transition: 0.15s ease all;
}
.time-line-year.active, .time-line-month.active, .select-date.active {
  background-color: #6986bd;
}

/*.select-date{
    box-shadow: 0px 0px .5vw rgba(27, 37, 61, 0.5);
}*/
.date-page {
  padding-top: 4vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 4vw;
  overflow: hidden;
}
.date-page .col-4:nth-of-type(2) {
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}
.date-page .col-4:first-child {
  padding-right: 0.5vw;
}
.date-page .col-4:last-child {
  padding-left: 0.5vw;
}
.date-page .year-container, .date-page .month-container, .date-page .block.list {
  cursor: pointer;
}

.month-container {
  position: relative;
}
.month-container .disabled-select {
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #566d99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  margin-top: 1vw;
  height: 57.3vh;
  position: relative;
  white-space: nowrap;
}
.list li {
  overflow: hidden;
  text-overflow: ellipsis;
}
.list li:not(:first-child) {
  margin-top: 1vh;
}
.list input {
  font-size: 1.2vw;
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5vh 0.9vw;
  color: white;
  background: #6986bd;
  border: none;
  border-radius: 0.1vw;
  outline: none;
  border: 0.1vw solid #566d99;
  transition: box-shadow 0.1s ease;
}
.list input:active {
  box-shadow: inset 0px 0px 13px 5px #475b81;
}
.list ul {
  list-style: none;
  padding-left: 0;
}

nav {
  position: fixed;
  bottom: 3.5vw;
  left: 50%;
  transform: translateX(-50%);
}
nav li {
  text-align: center;
  width: 2vw;
}

.fullscreen .close-full-photo {
  position: fixed;
  z-index: 9910;
  top: 1vw;
  right: 1vw;
  background-color: transparent;
  color: white;
  border: none;
  transition: 0.1s;
}
.fullscreen .close-full-photo i {
  font-size: 2vw;
}
.fullscreen .fullscreen-container img, .fullscreen .fullscreen-container iframe {
  z-index: 9999;
  position: fixed;
  width: 85%;
  height: 85%;
  left: 7.5%;
  top: 7.5%;
  -o-object-fit: contain;
     object-fit: contain;
}

.photo-more, .video-more {
  position: absolute;
  right: 1.5vw;
  top: 1.5vw;
  width: 3.5vw;
  height: 3.5vw;
  background-color: rgba(0, 0, 0, 0.288);
  border: none;
  color: white;
  border-bottom-left-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo-more i, .video-more i {
  font-size: 2vw;
}

.block-container {
  position: relative;
}

.content .photo-more, .content .video-more {
  right: 0.5vw;
  top: 0.5vw;
}
.content .video-more {
  background-color: rgba(0, 0, 0, 0.5);
}

.cover {
  z-index: 9900;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video-block {
  position: relative;
}
.video-block img {
  width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  margin-top: 4vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 4vw;
}
.page .col-3 {
  padding-right: 0.5vw;
}
.page .col-9 {
  padding-left: 0.5vw;
}
.page a {
  color: #a1baff;
}
.page .date {
  display: flex;
  align-items: center;
}
.page input {
  font-size: 1.2vw;
  padding: 0.5vh 0.9vw;
  color: white;
  background: #6986bd;
  border: none;
  border-radius: 0.1vw;
  outline: none;
  width: 100%;
  border: 0.1vw solid #566d99;
  transition: box-shadow 0.1s ease;
  text-align: left;
}
.page input:active {
  box-shadow: inset 0px 0px 13px 5px #475b81;
}

.btn-home, .btn-top {
  position: fixed;
  z-index: 8999;
  bottom: 1vw;
  left: 1vw;
  border: 0.25vw solid white;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #617baa;
  color: white;
  transition: box-shadow 0.1s ease;
}
.btn-home i, .btn-top i {
  font-size: 2.5vw;
}
.btn-home:active, .btn-top:active {
  box-shadow: inset 0px 0px 13px 5px #475b81;
}

.btn-top {
  width: 3.5vw;
  height: 3.5vw;
  left: 5.5vw;
}
.btn-top i {
  font-size: 2vw;
}

#photoArhiveCarousel, #videoArhiveCarousel {
  background-color: #617baa;
  padding: 0.5vw;
  cursor: pointer;
}
#photoArhiveCarousel .item, #videoArhiveCarousel .item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#photoArhiveCarousel .item img, #videoArhiveCarousel .item img {
  height: calc(100vh - 16.4vw);
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.play-video {
  font-size: 4.4vw;
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.museum3d {
  display: block;
  border: 0.5vw solid #617baa;
  height: calc(100vh - 10vw);
}

.rectors-page {
  padding-top: 4vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 4vw;
}
.rectors-page .card-block {
  cursor: pointer;
  background: #617baa;
}
.rectors-page .card-block img {
  border: 1vw solid #566d99;
  width: 100%;
  padding: 0.5vw;
}
.rectors-page .card-block .name {
  text-align: center;
  padding: 0.5vw;
  margin-top: 0.5vw;
  background: #566d99;
}
.rectors-page .card-block .name h2 {
  font-size: 1.25vw;
}
.rectors-page .row:not(:first-of-type) {
  margin-top: 1vw;
}

.feats-page {
  padding-top: 4vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 4vw;
}
.feats-page ul {
  padding-left: 2vw;
}
.feats-page .row:not(:first-child) {
  margin-top: 1vw;
}
.feats-page .row:nth-child(even) .col-4 {
  padding-right: 0.5vw;
}
.feats-page .row:nth-child(even) .col-8 {
  padding-left: 0.5vw;
}
.feats-page .row:nth-child(odd) .col-4 {
  padding-left: 0.5vw;
}
.feats-page .row:nth-child(odd) .col-8 {
  padding-right: 0.5vw;
}
.feats-page .rewards {
  display: flex;
  align-items: center;
}
.feats-page .rewards .reward {
  margin-left: 1vw;
}
.feats-page .rewards .reward:first-child {
  margin-left: 0vw;
}
