.menu .btn{
    width: 100%;
    height: 100%;
    background: #7799dd;
    box-shadow: 0 0 1.7vw #7799dd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    border-radius: 1vw;
    font-size: 1.5vw;
}
header .col{
    display: flex;
    align-items: center;
    justify-content: center;
}
header i, .tools i{
    color: #7799dd;
}
.menu .btn:hover{
    box-shadow: inset .1vw .1vw 1.7vw #3d5d9c;
    transition: 1s;
}
.menu .col{
    padding: 1vw;
}
body{
    background-color: #f3f4f6;
    font-size: 1.5vw;
    color: rgb(95, 95, 95);
}

h1{
    font-size: 2vw;
}

header, header h1{
    font-weight: 600;
    color: #7799dd;
    background-color: #e6eeff;
    font-size: 2vw;
}
.dbList{
    padding-left: 1vw;
    padding-right: 1vw;
}

input[type~="text"], input[type~="password"], input[type~="date"], input[type~="select"], button i{
    font-size: 1.5vw;
    color: rgb(95, 95, 95);
}

button i{
    color: #fff;
}

th, td{
    color: rgb(95, 95, 95);
}

.pagination{
    display: flex;
    justify-content: center;
}

header a{
    color: #7799dd;
    text-decoration: none;
}

header a:hover{
    color: #7799dd;
}
a.btn{
    font-size: 1.5vw;
    background: #7799dd;
    box-shadow: 0 0 1.7vw #7799dd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 1vw;
    padding: 1vw;
}

a.btn:hover{
    box-shadow: inset .1vw .1vw 1.7vw #3d5d9c;
    color: #fff;
}

 .preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.5);;
    z-index: 1001;
    color: #eee;
  }
                
  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 6vw;
    height: 6vw;
    margin-top: -3vw;
    margin-left: -3vw;
    text-align: center;
    -webkit-animation: preloader-rotate 2s infinite linear;
            animation: preloader-rotate 2s infinite linear;
  }
                
  @-webkit-keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
                
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
                
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
                
  .loaded .preloader {
    display: none;
  }             					                        

