body {
  background: #617baa;
  color: #fff;
  font-size: 1.2vw;
}

table {
  table-layout: fixed;
}
table th {
  color: #fff;
  font-size: 1vw;
}
table th:nth-last-of-type(1) {
  padding-right: 0;
}
table th:first-of-type {
  padding-left: 0;
}
table td {
  color: #fff;
  font-size: 1.2vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination {
  justify-content: center;
}
.pagination a {
  color: #4b6088;
}
.pagination a:hover {
  color: #4b6088;
}
.pagination .active .page-link {
  background-color: #4b6088;
  border-color: #4b6088;
}

h1, .h1 {
  font-size: 2vw;
}

h3 {
  font-size: 1.4vw;
}

h2 {
  font-size: 1.4vw;
}

.menuContainer {
  height: 100vh;
  position: relative;
}
.menuContainer .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menuContainer .menu .btn {
  width: 100%;
  height: 100%;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
  font-size: 1.4vw;
  background: #6986bd;
  color: #fff;
  border: 0.1vw solid #4b6088;
}
.menuContainer .menu .btn:active {
  box-shadow: inset 1px 1px 15px 8px #4b6088;
}
.menuContainer .menu .btn.min {
  font-size: 1.3vw;
}
.menuContainer .menu .col {
  padding: 1vw;
}

.pagination {
  padding-top: 0.5vw;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  font-weight: 500;
  color: #fff;
  background-color: #4b6088;
  font-size: 2vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
header a {
  display: block;
  color: #fff;
  text-decoration: none;
}
header a i {
  color: #fff;
}
header a > i {
  margin-left: 1vw;
  margin-right: 1vw;
}
header a:hover {
  color: #fff;
}

footer {
  z-index: 5;
  position: fixed;
  height: 3vw;
  bottom: 0;
  color: #fff;
  background-color: #4b6088;
  width: 100%;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  color: #eee;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 6vw;
  height: 6vw;
  margin-top: -3vw;
  margin-left: -3vw;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

@-webkit-keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

input[type~=text], input[type~=password], input[type~=date], input[type~=number], input[type~=select] {
  font-size: 1.2vw;
  color: #5f5f5f;
}

button i {
  font-size: 1.2vw;
}

.dbList {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vw;
}

.info-page {
  margin-top: 4vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 4vw;
}
.info-page .col-12 {
  padding-right: 0.5vw;
}
.info-page .col-8 {
  padding-left: 0.5vw;
}
.info-page a {
  color: #a1baff;
}
.info-page .date {
  display: flex;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}
img.personal-photo {
  width: 100%;
  padding: 0.5vw;
  border: 1vw solid #546b96d3;
}

.block-info {
  margin-top: 1vw;
  background-color: #546b96d3;
  padding: 1vw;
}
.block-info ul {
  padding-left: 1vw;
  list-style: none;
}

.personal-info {
  background-color: #546b96d3;
  padding: 1vw;
}

.photo-block img {
  border: 0.5vw solid #617baa;
  max-height: 1200px;
}

.video-block .content {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}
.video-block iframe {
  border: 0.5vw solid #617baa;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.block {
  background-color: #546b96d3;
  padding: 1vw;
}

.time-line-year, .time-line-month, .select-date {
  font-size: 1.5vw;
  background-color: #546b96d3;
  padding: 0.1vw, 0.1vw;
  border: solid 0.1vw #546b96d3;
  transition: 0.15s ease all;
}
.time-line-year.active, .time-line-month.active, .select-date.active {
  background-color: #6986bd;
}

.date-page {
  margin-top: 4vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 4vw;
  overflow: hidden;
}
.date-page .col-4:nth-of-type(2) {
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}
.date-page .col-4:first-child {
  padding-right: 0.5vw;
}
.date-page .col-4:last-child {
  padding-left: 0.5vw;
}

.list {
  margin-top: 1vw;
  height: 47.8vh;
  position: relative;
  white-space: nowrap;
}
.list li {
  overflow: hidden;
  text-overflow: ellipsis;
}
.list li:not(:first-child) {
  margin-top: 1vh;
}
.list input {
  font-size: 1.2vw;
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5vh 0.9vw;
  color: white;
  background: #6986bd;
  border: none;
  border-radius: 0.1vw;
  outline: none;
  box-shadow: 0px 0px 2vw rgba(27, 37, 61, 0.5);
  transition: 0.1s;
}
.list input:active {
  font-size: 1.1vw;
}
.list ul {
  list-style: none;
  padding-left: 0;
}

nav {
  position: absolute;
  bottom: 3.5vw;
  left: 50%;
  transform: translateX(-50%);
}
nav li {
  text-align: center;
  width: 2vw;
}
